*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --animation-duration:10s;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.box{
    height: 80px;
    width: 80%;
    /* border: 2px solid; */
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right,black 0% 20%,black 80%);
    .cross{
        position: absolute;
        text-align: center;
        background-color: red;
        color: azure;
        font-size: 35px;
        padding-top: 20px;
        height: 100%;
        width: 150px;
        /* left:; */
        left: max( calc(150px * 8),100%);
        animation: move_cross var(--animation-duration) linear infinite;
    }
}
.cross:nth-child(1){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 1) * -1);
  
}
.cross:nth-child(2){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 2) * -1);
}
.cross:nth-child(3){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 3) * -1);
}
.cross:nth-child(4){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 4) * -1);
}
.cross:nth-child(5){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 5) * -1);
}
.cross:nth-child(6){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 6) * -1);
}
.cross:nth-child(7){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 7) * -1);
}
.cross:nth-child(8){
  animation-delay: calc(var(--animation-duration)/8 * (8 - 8) * -1);
}


@keyframes move_cross {
    to{
        left: -150px;
    }
}