* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(236, 234, 234);
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px 20px;
    border-radius: 10px;
    margin: auto;
    width: max(600px, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 234, 234);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.147),0px 8px 5px rgba(0, 0, 0, 0.147), -8px -8px 5px rgba(255, 255, 255, 0.534), -8px 8px 5px rgba(255, 255, 255, 0.534);

    .canvas_outer {
        display: flex;
        padding: 15px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.147), inset -5px -5px 5px rgba(255, 255, 255, 0.534);

        .canvas_inside {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.147), -5px -5px 5px rgba(255, 255, 255, 0.534);
            #canvas{
        border: 2px solid black;
        border-radius: 5px;
            }
        }
    }

    .score_box {
        padding: 10px 20px;
        font-size: 18px;
        color: rgb(18, 17, 17);
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        padding-left: 60px;
        width: 100%;

        div>:first-child {
            color: red;
        }
    }

}
#highest_score{
    
    display: inline-block;
    width: 60px;
}
#score{
    display: inline-block;
    width: 60px;
}

.btn_box {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
   

    &:nth-child(1) {
        background-color: #e79b0c;

    }

    &:nth-child(2) {
        background-color: #4caf16;
    }

    &:nth-child(3) {
        background-color: rgb(185, 11, 254);
    }

    &:hover {
        scale: 1.1;
        transition: 0.5s;
    }
}
.btn_disable{
    opacity: 0.5;
    cursor: not-allowed;
}
.btn.btn_disable:hover{
    scale: 1;
    opacity: 0.5;
}
